.need__item{
background: url("/assets/images/need/l-item.png") no-repeat;
padding-left: 44px;
height: 31px;
display: flex;
align-items: center;
margin-bottom: 21px;
}

.item__text{
  font-family: "Roboto-Regular", Verdana, Tahoma, sans-serif;
  font-size: 20px;
  color: #2c4452;
}