<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тестовое| GlazAlmaz</title>
    <link rel="stylesheet" type="text/css" href="./assets/styles/main.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="maincontent">
        <section class="section hero">
          <div class="container">
            <div class="titles">
              <h1 class="title">Ультраактивные глазные капли + биокапсулы <br><span>Glaz Almaz</span></h1><span class="hero__desc__text hero__desc__text--uppercase"><span class="hero__desc__text--color"> скорая помощь </span> при проблемах с глазами!</span>
            </div>
            <div class="union__content">
              <div class="hero__center">
                <ul class="hero__desc__list">
                  <li class="hero__desc__item"><img src="assets/images/hero/eye.png"><span class="hero__desc__text hero__desc__text--bold">Восстанавливает 95% зрения <span class="hero__desc__text--color"> за 30 дней!</span></span></li>
                  <li class="hero__desc__item"><img src="assets/images/hero/eye.png"><span class="hero__desc__text hero__desc__text--bold">Значительно <span class="hero__desc__text--color"> повышает четкость зрения </span> уже через 10 минут</span></li>
                  <li class="hero__desc__item"><img src="assets/images/hero/eye.png"><span class="hero__desc__text"> <span class="hero__desc__text--color"> Мгновенно </span> устраняет усталось, Напряжение глазных мышц</span></li>
                  <li class="hero__desc__item"><img src="assets/images/hero/eye.png"><span class="hero__desc__text"><span class="hero__desc__text--color"> Универсальное средство, </span> эффективное против всех глазных заболеваний</span></li>
                  <li class="hero__desc__item"><img src="assets/images/hero/eye.png"><span class="hero__desc__text">Инновационный состав, <span class="hero__desc__text--color"> не имеет аналогов!</span></span></li>
                </ul>
                <div class="hero__label">
                  <div class="label__img label__img--left"><img src="assets/images/hero/label1.png" alt=""><span class="label__text">Рекомендация окулистов при первых симптомах глазных проблем </span></div>
                  <div class="label__img label__img--center"><img src="assets/images/hero/label2.png" alt=""><span class="label__text label__text--color-gray">Запатантованная формула: 14 паттернов в 2017 году!</span></div>
                  <div class="label__img label__img--right"><img src="assets/images/hero/label3.png" alt=""><span class="label__text label__text--color-white">99% активных натуральных ингредиентов</span></div>
                </div>
              </div>
              <div class="hero__right">
                <form class="hero__form">
                  <div class="form__content"><span class="form-title">Оформите заявку и получите скидку:</span>
                    <label class="form__row"><span>Введите имя:</span>
                      <input class="input__form" type="text">
                    </label>
                    <label class="form__row"><span>Введите телефон:</span>
                      <input class="input__form" type="text">
                    </label>
                    <button class="order__button" type="submit" action="#">Заказать</button>
                  </div>
                </form>
                <div class="discount"><span class="discount__title">До конца акции осталось:</span>
                  <div class="discont__blocks">
                    <div class="discount__block"><span class="discount__time"><span>05</span></span><span class="discount__note">часов</span></div>
                    <div class="discount__block"><span class="discount__time"><span>05</span></span><span class="discount__note">минут</span></div>
                    <div class="discount__block"><span class="discount__time"><span>05</span></span><span class="discount__note">секунд</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section description">
          <div class="container">
            <div class="content">
              <h2 class="subtitle subtitle--size subtitle--after">почему <span class="subtitle--color-red">мы теряем зрение, </span> не замечая этого?</h2>
              <div class="description__bg-img"><img class="desc-img" src="/assets/images/bg1.png" alt="" srcset=""></div>
              <div class="description__text">
                <p>Ежедневно наши глаза находятся в тотальном напряжении.</p>
                <p>Чрезмерная нагрузка, возрастные изменения в организме, травмы, инфекции приводят к тому, что роговица глаза мутнеет, происходит дистрофия желтого пятна,  постепенно приводящая к мутному, искаженному, размытому зрению.</p>
                <p>Эти факторы в 7 раз увеличивают риск возникновения серьезных заболеваний после 25 лет!</p>
              </div>
            </div>
          </div>
        </section>
        <section class="section reasons">
          <div class="container">
            <h2 class="subtitle subtitle--after">95% случаев потери зрения и глазных заболеваний возникают из-за чрезмерной нагрузки на глаза!</h2>
            <div class="union__content">
              <div class="reasons__left">
                <ul class="reasons__list">
                  <li class="reasons__item">
                    <div class="reasons__img"><img class="r-photo_border" src="assets/images/reasons/first.jpg" alt=""></div>
                    <div class="reasons__block"><span>Экран монитора</span></div>
                  </li>
                  <li class="reasons__item">
                    <div class="reasons__img"><img class="r-photo_border" src="assets/images/reasons/second.jpg" alt="" srcset=""></div>
                    <div class="reasons__block"><span>Дисплей смартфона</span></div>
                  </li>
                  <li class="reasons__item">
                    <div class="reasons__img"><img class="r-photo_border" src="assets/images/reasons/third.jpg" alt="" srcset=""></div>
                    <div class="reasons__block"><span>Напряжение глаз при работе</span></div>
                  </li>
                  <li class="reasons__item">
                    <div class="reasons__img"><img class="r-photo_border" src="assets/images/reasons/fourth.jpg" alt="" srcset=""></div>
                    <div class="reasons__block"><span>Плохое освещение</span></div>
                  </li>
                  <li class="reasons__item">
                    <div class="reasons__img"><img class="r-photo_border" src="assets/images/reasons/fifth.jpg" alt="" srcset=""></div>
                    <div class="reasons__block"><span>Инфекции и стресс</span></div>
                  </li>
                </ul>
              </div>
              <div class="reasons__right">
                <div class="reason__img">
                  <div class="reasons__bg"><img src="assets/images/reasons/eye.png" alt=""></div>
                  <ul class="reasons__dots">
                    <li class="dot dot--top"></li>
                    <li class="dot dot--top-right"></li>
                    <li class="dot dot--right"></li>
                    <li class="dot dot--bottom"></li>
                    <li class="dot dot--centered-top"></li>
                    <li class="dot dot--centered-bottom"></li>
                    <li class="dot dot--left"></li>
                  </ul>
                  <ul class="reasons__texts">
                    <li class="reasons__text reasons__text--top"><span>зрачок</span></li>
                    <li class="reasons__text reasons__text--centered--top"><span>хрусталик</span></li>
                    <li class="reasons__text reasons__text--centered--bottom"><span>роговица</span></li>
                    <li class="reasons__text reasons__text--bottom"><span>аккомадационная мышца</span></li>
                    <li class="reasons__text reasons__text--right"><span>зрительный нерв</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section cure">
          <div class="container">
            <h2 class="subtitle subtitle--after subtitle--after_color">Glaz Almaz</h2>
            <div class="union__content">
              <div class="cure__description">
                <p class="cure__text cure__text--color"> Инновационная комбинация биоактивных экстрактов для комплексного воздействия на глазные проблемы.</p>
                <p class="cure__text">Это <span class="cure__text--bg"> самая передовая разработка рос</span>сийских и европейских фармацевтов в содружестве с Международной ассоциацией офтальмологов.</p>
                <p class="cure__text">За 10 лет исследований была выведена формула ультраактивных ингредиентов, оказывающая максимально сильное воздействие на процессы регенерации сетчатки глаза, хрусталика, рогов <span class="cure__text--bg">ицы, устранение серьезных глазных забол</span>еваний, возвращение зрению утраченную четкость.</p>
                <p class="cure__text">Благодаря комбиинации капель и пероральных капсул оздоровительный эффект и снятие неприятных симптомов происходит в 5 раз быстрее, чем при использовании иных препаратов для глаз.</p>
              </div>
              <div class="cure__img"><img src="assets/images/cure/prep.png"></div>
              <div class="cure-bg__imgs">
                <div class="cure-bg__img"></div>
                <div class="cure-bg__img"></div>
                <div class="cure-bg__img"></div>
                <div class="cure-bg__img"></div>
                <div class="cure-bg__img"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!--pug --watch --pretty ./views/pages/ --out ./-->
    </div>
  </body>
</html>