doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Тестовое| GlazAlmaz
    link(rel="stylesheet", type="text/css", href="./assets/styles/main.css")
  body
    .wrapper
      .maincontent
        section.section.hero
          .container
            .titles
              h1.title Ультраактивные глазные капли + биокапсулы <br>
                span Glaz Almaz
              span.hero__desc__text.hero__desc__text--uppercase <span class="hero__desc__text--color"> скорая помощь </span> при проблемах с глазами!
            .union__content
              .hero__center
                ul.hero__desc__list
                  li.hero__desc__item
                    img(src="assets/images/hero/eye.png")
                    span.hero__desc__text.hero__desc__text--bold Восстанавливает 95% зрения <span class="hero__desc__text--color"> за 30 дней!</span>
                    //- svg.item-icon
                    //-   use(xlink:href="assets/images/svg/eye1.svg")
                  li.hero__desc__item
                    img(src="assets/images/hero/eye.png")
                    span.hero__desc__text.hero__desc__text--bold Значительно <span class="hero__desc__text--color"> повышает четкость зрения </span> уже через 10 минут
                  li.hero__desc__item
                    img(src="assets/images/hero/eye.png")
                    span.hero__desc__text  <span class="hero__desc__text--color"> Мгновенно </span> устраняет усталось, Напряжение глазных мышц
                  li.hero__desc__item
                    img(src="assets/images/hero/eye.png")
                    span.hero__desc__text <span class="hero__desc__text--color"> Универсальное средство, </span> эффективное против всех глазных заболеваний
                  li.hero__desc__item
                    img(src="assets/images/hero/eye.png")
                    span.hero__desc__text Инновационный состав, <span class="hero__desc__text--color"> не имеет аналогов!</span>
                .hero__label
                  .label__img.label__img--left
                    img(src="assets/images/hero/label1.png", alt="")
                    span.label__text Рекомендация окулистов при первых симптомах глазных проблем 
                  .label__img.label__img--center
                    img(src="assets/images/hero/label2.png", alt="")
                    span.label__text.label__text--color-gray Запатантованная формула: 14 паттернов в 2017 году!
                  .label__img.label__img--right
                    img(src="assets/images/hero/label3.png", alt="")
                    span.label__text.label__text--color-white 99% активных натуральных ингредиентов
              .hero__right
                form.hero__form
                  .form__content
                    span.form-title Оформите заявку и получите скидку:
                    label.form__row
                      span Введите имя:
                      input(type="text").input__form
                    label.form__row
                      span Введите телефон:
                      input(type="text").input__form
                    button(type="submit" action="#").order__button Заказать
                .discount
                  span.discount__title До конца акции осталось:
                  .discont__blocks
                    .discount__block
                      span.discount__time
                        span 05
                      span.discount__note часов
                    .discount__block
                      span.discount__time
                        span 05
                      span.discount__note минут
                    .discount__block
                      span.discount__time
                        span 05
                      span.discount__note секунд

        
        section.section.description
          .container
            .content
              h2.subtitle.subtitle--size.subtitle--after почему <span class="subtitle--color-red">мы теряем зрение, </span> не замечая этого?
              .description__bg-img
                img(src="assets/images/bg1.png", alt="", srcset="").desc-img
              .description__text
                p Ежедневно наши глаза находятся в тотальном напряжении.
                p Чрезмерная нагрузка, возрастные изменения в организме, травмы, инфекции приводят к тому, что роговица глаза мутнеет, происходит дистрофия желтого пятна,  постепенно приводящая к мутному, искаженному, размытому зрению.
                p Эти факторы в 7 раз увеличивают риск возникновения серьезных заболеваний после 25 лет!
        
      
        section.section.reasons
          .container
            h2.subtitle.subtitle--after 95% случаев потери зрения и глазных заболеваний возникают из-за чрезмерной нагрузки на глаза!
            .union__content
              .reasons__left
                ul.reasons__list
                  li.reasons__item
                    .reasons__img
                      img(src="assets/images/reasons/first.jpg", alt="").r-photo_border
                    .reasons__block
                      span Экран монитора
                  li.reasons__item
                    .reasons__img
                      img(src="assets/images/reasons/second.jpg", alt="", srcset="").r-photo_border
                    .reasons__block
                      span Дисплей смартфона
                  li.reasons__item
                    .reasons__img
                      img(src="assets/images/reasons/third.jpg", alt="", srcset="").r-photo_border
                    .reasons__block
                      span Напряжение глаз при работе
                  li.reasons__item
                    .reasons__img
                      img(src="assets/images/reasons/fourth.jpg", alt="", srcset="").r-photo_border
                    .reasons__block
                      span Плохое освещение
                  li.reasons__item
                    .reasons__img
                      img(src="assets/images/reasons/fifth.jpg", alt="", srcset="").r-photo_border
                    .reasons__block
                      span Инфекции и стресс
              .reasons__right
                .reason__img
                  .reasons__bg
                    img(src="assets/images/reasons/eye.png", alt="")
                  ul.reasons__dots
                    li.dot.dot--top
                    li.dot.dot--top-right
                    li.dot.dot--right
                    li.dot.dot--bottom
                    li.dot.dot--centered-top
                    li.dot.dot--centered-bottom
                    li.dot.dot--left
                  ul.reasons__texts
                    li.reasons__text.reasons__text--top
                      span зрачок
                    li.reasons__text.reasons__text--centered--top
                      span хрусталик
                    li.reasons__text.reasons__text--centered--bottom
                      span роговица
                    li.reasons__text.reasons__text--bottom
                      span аккомадационная мышца
                    li.reasons__text.reasons__text--right
                      span зрительный нерв


        section.section.cure
          .container
            h2.subtitle.subtitle--after.subtitle--after_color Glaz Almaz
            .union__content
              .cure__description
                p.cure__text.cure__text--color  Инновационная комбинация биоактивных экстрактов для комплексного воздействия на глазные проблемы.
                p.cure__text Это <span class="cure__text--bg"> самая передовая разработка рос</span>сийских и европейских фармацевтов в содружестве с Международной ассоциацией офтальмологов.
                p.cure__text За 10 лет исследований была выведена формула ультраактивных ингредиентов, оказывающая максимально сильное воздействие на процессы регенерации сетчатки глаза, хрусталика, рогов <span class="cure__text--bg">ицы, устранение серьезных глазных забол</span>еваний, возвращение зрению утраченную четкость.
                p.cure__text Благодаря комбиинации капель и пероральных капсул оздоровительный эффект и снятие неприятных симптомов происходит в 5 раз быстрее, чем при использовании иных препаратов для глаз.
              .cure__img
                img(src="assets/images/cure/prep.png")
              .cure-bg__imgs
                .cure-bg__img
                .cure-bg__img
                .cure-bg__img
                .cure-bg__img
                .cure-bg__img

        
        //- section.section.need
        //-     .wrap
        //-       .need__bg-img
        //-         img(src="/assets/images/need/img.png", alt="", srcset="")
        //-       .container
        //-         .need__content
        //-           h2.subtitle.subtitle--after Когда необходим 
        //-             | <span class = "subtitle--color"> GLAZ ALMAZ?</span> 
        //-           ul.need__list
        //-             li.need__item
        //-               span.item__text Для ежедневного ухода за здоровьем глаз
        //-             li.need__item
        //-               span.item__text  При серьезных глазных заболеваниях (глаукома, катаракта)
        //-             li.need__item
        //-               span.item__text При снижении зрения в результате возрастных изменений в организ
        //-             li.need__item
        //-               span.item__text После травм и операций на глаза 
        //-             li.need__item
        //-               span.item__text Для защиты при длительной нагрузке на глаза (чтение,  работа за
        //-             li.need__item
        //-               span.item__text При диабете и нарушении обмена веществ 
        //-             li.need__item
        //-               span.item__text При синдроме красных глаз

                
        
      //pug --watch --pretty ./views/pages/ --out ./
